html, body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
	--font-name: 'Roboto';
	--font-url: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto';
	src: url(./fonts/Roboto-Regular.ttf);
}

canvas {
    display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	z-index: 1;
    width: 100vw !important;
    height: 100vh !important;
}
body:has(#text-input:hover,#text-input:focus) #svg {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	fill: #FFF;
	padding: 10px;
	border: 1px dashed #49C;
	opacity: 0.75;
	background: repeating-linear-gradient(45deg, #6786 0px, #6786 1px, #035C 1px, #035C 10px);
	pointer-events: none;
}
#edit-mode-control {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: #FFF;
}
	#edit-mode-control label {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		gap: 5px;
		margin: 0 5px;
	}
	#edit-mode-control input {
		margin-top: 0;
	}

#text-controls {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}
	#text-input {
		margin-top: 5px;
		background: rgba(0,0,0,0.2);
		color: #FFF;
		padding: 5px 10px;
		border: none;
		width: 400px;
		max-width: 40vw;
		font-size: 1.2em;
		border-bottom: 1px solid #CCC;
		overflow: auto;
		font-family: 'Roboto', Arial, sans-serif;
		display: none;
	}
	#edit-mode-control.show-text-input + #text-input {
		display: block;
	}
#export-button {
	cursor: pointer;
	padding: 10px;
	font-size: 1.1em;
	font-weight: bold;
}
#render-controls {
	background: #111;
	color: #FFF;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 10px;
	gap: 10px;
}
	.control-group {
		display: flex;
		flex-direction: column;
		gap: 10px;
		transition: max-height 0.3s;
	}
		.control-group .label {
			font-size: 1.1em;
			font-weight: bold;
			margin-top: 10px;
		}
		.control-group .controls {
			display: flex;
			flex-direction: column;
			padding: 7px 0 5px 7px;
			gap: 5px;
			transition: max-height 0.3s;
			overflow: hidden;
		}
	#font-controls {
		text-align: center;
		position: absolute;
		width: 100%;
		bottom: calc(10px + 100%);
		right: 0;
	}
		#curr-font {
			color: #EEE;
			margin-bottom: 4px;
		}
		#font-input-label {
			cursor: pointer;
			background: #222;
			border-radius: 5px;
			padding: 5px 10px;
			display: block;
		}
		#font-input {
			opacity: 0;
			width: 1px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 5px;
		}
	.render-control {
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		gap: 5px;
	}
	.render-control label {
		color: #DDD;
		cursor: pointer;
	}
	.render-control input {
		position: relative;
		background: #333;
		border: 1px solid #555;
		margin-left: 3px;
		padding: 3px 5px;
		color: #FFF;
	}
	.render-control input[type="checkbox"][id*="auto"]:checked + input {
		display: none;
	}
	.render-control input[type="number"] {
		width: 36px;
	}
	#plate-depth {
		width: 60px;
	}
	#render-info {
		text-align: center;
		color: #CCC;
		background: #222;
		padding: 5px;
		border: 1px dashed #444;
	}
	#view-buttons {
		margin-top: 2px;
		border-top: 1px solid #666;
		padding-top: 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding-bottom: 15px;
		border-bottom: 1px solid #666;
	}
		#view-buttons button {
			background: #333;
			border: 1px solid #555;
			cursor: pointer;
			color: #FFF;
			padding: 3px 5px;
		}

@media all and (max-height: 750px), (max-width: 1200px) {
	.control-group.toggleable {
		max-height: 1.5em;
		overflow: hidden;
	}
	.control-group:focus-within,
	.control-group.expanded {
		max-height: 10em;
	}
	.control-group .label {
		cursor: pointer;
		margin-top: 0;
	}
	.control-group .label::before {
		content: '\25BA';
		margin-right: 3px;
		color: #666;
		transition: transform 0.3s;
		display: inline-block;
	}
	.control-group .controls {
		max-height: 0.1em;
	}
	.control-group.expanded .label::before {
		transform: rotate(90deg);
	}
	.control-group:focus-within .controls,
	.control-group.expanded .controls {
		max-height: 10em;
	}
}
@media all and (max-height: 650px), (max-width: 600px) {
	#font-controls {
		position: fixed;
		bottom: 100px;
		width: 180px;
		left: 5px;
	}
	.control-group:not(.toggleable) {
		width: 180px;
		position: fixed;
		bottom: 5px;
		left: 5px;
	}
	#view-buttons {
		border: none;
		padding: 5px 0;
	}
		#view-buttons button {
			background: #222;
			border-color: #333;
		}
}
