body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	z-index: 1;
}
#svg {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	fill: #FFF;
}
#text-controls {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
#font-controls {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
	#font-input-label {
		cursor: pointer;
		background: #EEE;
		border-radius: 5px;
		padding: 5px 10px;
	}
	#curr-font {
		margin-left: 10px;
		color: #999;
	}
#export-button {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
#render-controls {
	color: #999;
	position: absolute;
	bottom: 3px;
	right: 3px;
	z-index: 2;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}
	.render-control {
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		gap: 5px;
	}
	.render-control label {
		margin-left: 10px;
	}
	.render-control input {
		position: relative;
	}
	#render-controls .render-control input:hover::before {
		content: attr(value);
		color: #FFF;
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
	}
