@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1ytuqm');
  src:  url('fonts/icomoon.eot?1ytuqm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1ytuqm') format('truetype'),
    url('fonts/icomoon.woff?1ytuqm') format('woff'),
    url('fonts/icomoon.svg?1ytuqm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compass:before {
  content: "\e949";
}
.icon-download:before {
  content: "\e960";
}
.icon-undo:before {
  content: "\e965";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-font-size:before {
  content: "\ea61";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
